# Django
DJANGO_SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL
POSTGRES_DB=pintaebook_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis / Channel Layer
REDIS_HOST=redis
REDIS_PORT=6379

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=pintaebook

# OpenRouter / AI
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxx
AI_MOCK_MODE=False
AI_MODEL_NAME=dots-studio/dots-3-note-preview:free